.contenido {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    text-align: left;
}

.contenido h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.contenido p {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}
